<%- include("partials/header.ejs") %>

<div class="my-5">
    <div class="p-5 text-center">
      <div class="container py-5">
        <h1 class="text-body-emphasis">Learn More About Me</h1>
        <p class="col-lg-8 mx-auto lead">
            <%= about  %>
        </p>
        <img src="images/aboutme.avif" alt="" width="75%">
      </div>
    </div>
  </div>




<%- include("partials/footer.ejs") %>