<%- include("partials/header.ejs") %>
<form action="/composer" method="POST">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" name="blogTitleInput" id="blogTitleInput" placeholder="Write Your Blog Title">
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Content</label>
        <textarea class="form-control" name="blogBodyInput" id="blogBodyInput" rows="20" placeholder="Write Your Blog Here"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<%- include("partials/footer.ejs") %>