<%- include("partials/header.ejs") %>

<div class="p-4 mb-3 bg-body rounded">
  <h4 class="fst-italic">Contact</h4>
  <p class="mb-4">Customize this section to tell your visitors a little bit about how to contact you. Totally up to you.</p>
</div>
<div class="d-flex flex-row-reverse">
  <button type="button" class="btn btn-secondary">Edit</button>
</div>






<%- include("partials/footer.ejs") %>