<%- include("partials/header.ejs") %>

<div class="container">
  <div class="p-4 p-md-5 mb-4 mt-4 rounded text-body-emphasis bg-body-secondary">
      <h1 class="display-4 fst-italic"><%if (locals.blogData) {%>
                                          <%=blogData[0].blogTitle%>
                                          <%} else {%>
                                          There is no existing post
                                        <%}%></h1>
      <p class="lead my-3"><%if (locals.blogData) {%>
                              <%=blogData[0].blogBody%>
                              <%} else {%>
                              Click on Create a Blog Post to the upper left corner
                            <%}%></p>
      <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <a class="btn btn-primary me-md-2" href="/composer" type="button">View</a>
        <a class="btn btn-warning me-md-2" type="button">Edit</a>
        <a class="btn btn-danger" type="button">Delete</a>
      </div>
   </div>
</div>

<%- include("partials/footer.ejs") %>